@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  .logo-top {
    margin-bottom: -4px;
  }
  
  .logo-letter {
    margin-top: 2px;
    animation: letter 3s ease-in-out infinite;
  }
  
  .logo-letter-containter {
    animation: letterContainer 3s ease-in-out infinite;
  }
  
  @keyframes letterContainer {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes letter {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

.w-1\/7 {
    width: 14.285714285%;
}

.w-1\/40 {
    width: 2.5%;
}

.w-39\/40 {
    width: 97.5%;
}

.text-inherit {
  color: inherit;
}

.flex-2 {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0%;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

@media screen and (min-width: 700px) {
  .w-1\/3-when-big {
      width: 33.33333%;
  }
}

.google-button {
  background: #38c172 !important;
  padding-left: 1rem !important;
  margin-right: 1rem !important;
  color: black !important;
}